{% include base_path %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

<h2 class="archive__item-title" itemprop="headline">
  {% if post.link %}
    <a href="{{ post.link }}">{{ title }}</a>
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">
      <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
      <span class="sr-only">Permalink</span>
    </a>
  {% else %}
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  {% endif %}
</h2>

<p>
  {{ post.type }},
  <i>{{ post.venue }}</i>,
  {{ post.date | default: "1900-01-01" | date: "%Y" }}
</p>

{% if post.excerpt %}
  <div class="archive__item-excerpt teaching-excerpt" itemprop="description">
    {{ post.excerpt | markdownify }}
  </div>
{% endif %}

  </article>
</div>

<style>
.teaching-excerpt {
  font-size: 1.05em;
  line-height: 1.6;
}

.teaching-excerpt p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  overflow: hidden;
}

.archive__item-title {
  font-size: 1.35em;
}

.archive__item > p {
  font-size: 1em;
}

.teaching-excerpt::after {
  content: "";
  display: block;
  clear: both;
}
</style>

