---
layout: archive
title: "Blog Posts"
author_profile: true
redirect_from:
  - /blog-posts/
---

{% include base_path %}

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}

<nav class="pagination" aria-label="Blog pagination">
  <ul>

    <!-- Previous -->
    {% if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | relative_url }}">
          Previous
        </a>
      </li>
    {% else %}
      <li>
        <a href="#" class="disabled">
          Previous
        </a>
      </li>
    {% endif %}


    <!-- First page -->
    {% if paginator.page == 1 %}
      <li>
        <a href="#" class="disabled current">1</a>
      </li>
    {% else %}
      <li>
        <a href="{{ '/posts/' | relative_url }}">1</a>
      </li>
    {% endif %}


    <!-- Determine visible page range -->
    {% assign page_start = paginator.page | minus: 2 %}

    {% if page_start < 2 %}
      {% assign page_start = 2 %}
    {% endif %}

    {% assign page_end = paginator.page | plus: 2 %}

    {% assign last_middle_page = paginator.total_pages | minus: 1 %}

    {% if page_end > last_middle_page %}
      {% assign page_end = last_middle_page %}
    {% endif %}


    <!-- Ellipsis after first page -->
    {% if page_start > 2 %}
      <li>
        <a href="#" class="disabled">&hellip;</a>
      </li>
    {% endif %}


    <!-- Middle pages -->
    {% if page_start <= page_end %}
      {% for page_number in (page_start..page_end) %}

        {% if page_number == paginator.page %}

          <li>
            <a href="#" class="disabled current">
              {{ page_number }}
            </a>
          </li>

        {% else %}

          <li>
            <a href="{{ site.paginate_path | replace: ':num', page_number | relative_url }}">
              {{ page_number }}
            </a>
          </li>

        {% endif %}

      {% endfor %}
    {% endif %}


    <!-- Ellipsis before last page -->
    {% if page_end < last_middle_page %}
      <li>
        <a href="#" class="disabled">&hellip;</a>
      </li>
    {% endif %}


    <!-- Last page -->
    {% if paginator.total_pages > 1 %}

      {% if paginator.page == paginator.total_pages %}

        <li>
          <a href="#" class="disabled current">
            {{ paginator.total_pages }}
          </a>
        </li>

      {% else %}

        <li>
          <a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | relative_url }}">
            {{ paginator.total_pages }}
          </a>
        </li>

      {% endif %}

    {% endif %}


    <!-- Next -->
    {% if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | relative_url }}">
          Next
        </a>
      </li>
    {% else %}
      <li>
        <a href="#" class="disabled">
          Next
        </a>
      </li>
    {% endif %}

  </ul>
</nav>

{% endif %}