@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap'); /* Cinzel fontunu projeye ekle */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Cinzel', sans-serif; /* Mistik fontu belirt */
    background-color: LightGray;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
}

#language-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

#language-buttons button {
    border: none;
    background: none;
    cursor: pointer;
}

#language-buttons img {
    width: 30px; /* Bayrak boyutunu ayarla */
    height: auto;
}

#content {
    margin: auto; /* Içerigi ortalamak için */
    text-align: justify; /* Içerigi iki kenara hizala (sol ve saga) */
    max-width: 80%; /* Ögenin maksimum genisligi */
}

h1 {
    text-align: center; /* Içerigi iki kenara hizala (sol ve saga) */
}

h2 {
    text-align: center; /* Içerigi iki kenara hizala (sol ve saga) */
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.image-center {
  display: block;
    max-width: 50%;
  border-radius: 40%;
    margin: auto;
    padding-top: 10px;

}

.message-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(100, 100, 100, 0.1);
    width: 700px;
    overflow: hidden;
    max-width: 90%;
    line-height: 1.6;
    align-self: center;
}

.welcome-inner {
    padding: 10px;
    text-align: center;
}

.heading {
    color: #000;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    padding-top: 1.3rem;
}

button {
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    text-align: center; 
    text-decoration: none;
}

.blue-gradient {
    background: #03376d linear-gradient(90deg, #03376d, #097f97);
}

.blue-gradient:hover {
    background: #001b42 linear-gradient(90deg, #03376d, #2569b0, #097f97);
}

p {
    
}

