body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Cinzel', sans-serif; /* Mistik fontu belirt */
    background-color: LightGray;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

#language-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

#language-buttons button {
    border: none;
    background: none;
    cursor: pointer;
}

#language-buttons img {
    width: 30px; /* Bayrak boyutunu ayarla */
    height: auto;
}

#content {
    margin: auto; /* Içerigi ortalamak için */
    text-align: justify; /* Içerigi iki kenara hizala (sol ve saga) */
    max-width: 800px; /* Ögenin maksimum genisligi */
}

h1 {
    text-align: center; /* Içerigi iki kenara hizala (sol ve saga) */
}

h2 {
    text-align: center; /* Içerigi iki kenara hizala (sol ve saga) */
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
}

p {
    
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap'); /* Cinzel fontunu projeye ekle */
